h4{
    text-align: center;
}
p{
    margin-left: 16px;
    text-align: left;
}
.card-block{
    text-align: center;
    margin-bottom: 6px;
}

img{
    padding: 4px;
}
.col-sm-4{
    margin-top: 24px;
}